
body {
    background-color: rgb(223, 232, 245);
}

header > h1 {
    color: #110850;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 45%);
}


main {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: justify;
    text-indent: 10px;
    box-shadow: 1px 3px 8px 0px rgb(0 0 0 / 47%);
}

footer {
    color: #110850;
    font-style: italic;
    text-align: center;
}